.mapHolder {
  display: flex;
  justify-content: center;
}

.locationsMap {
  position: relative;
}
.city {
  max-width: 6rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid gray;
  border-radius: 15%;
  padding: 3px;
  position: absolute;
}

.city:hover {
  background-color: gray;
  color: whitesmoke;
  cursor: pointer;
}

#seattle {
  top: 1.5em;
  left: 4.5em;
}

#san-diego {
  top: 15em;
  left: 5.5em;
}

#rochester {
  top: 4.8em;
  left: 25.5em;
}

#charlottesville {
  top: 9.4em;
  left:22.5em;
}

#new-milford {
  top: 5.5em;
  left: 35em;
}